body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
:root {
  --heading-color: #2e2f42;
  --text-color: #434455;
  --brand-color: #4d5ae5;
  --press-color: #404bbf;
  --primary-white-color: #f4f4fd;
  --light-slate-color: #8e8f99;
  --footer-icon-color: #31d0aa;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  html,
  .header,
  .footer,
  .container,
  .section,
  .backdrop,
  .menu-container {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 428px) {
  .container,
  .container-footer {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container,
  .container-footer {
    max-width: 768px;
  }
}
@media screen and (min-width: 1199px) {
  .container,
  .container-footer {
    max-width: 1199px;
  }
}
.container-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 15px;
  height: 72px;
}
.page-header-portfolio {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* 1 */

/* 2 */
.site-nav,
.nav-items {
  display: flex;
}
.nav-items {
  padding: 24px 0;
  gap: 40px;
  margin: 0 0 0 76px;
}
@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }
  .contact {
    display: none;
  }
}
.logo-first {
  font-family: "Raleway";

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  text-transform: uppercase;
}
.logo-second {
  color: var(--heading-color);
}
.footer-logo-second {
  color: #f4f4fd;
}
.site-nav {
  align-items: center;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link.current:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  bottom: -24px;
}
.nav-item-link:focus,
.nav-item-link:hover {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}
.contact-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  margin: 0;
}
.contacts .contact a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .contact a:hover,
.contacts .contact a:focus {
  color: var(--brand-color);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-list {
    flex-direction: column;
    gap: 0;
  }

  .contact-list .contacts.link {
    margin-left: auto;
  }

  .contact-list .item:not(:last-child) {
    margin-right: 0;
  }
}
/* Mobile menu */
@media screen and (min-width: 768px) {
  .open-mobile-menu-button {
    display: none;
  }
}

.open-mobile-menu-button {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.open-mobile-menu-icon {
  stroke: var(--heading-color);
  cursor: pointer;
}

.mobile-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  z-index: 1000;

  background-color: #ffffff;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;

  transition: opacity var(--transition), visibility var(--transition);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 80px;
  padding-left: 0;
  padding-right: 35px;
  padding-bottom: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.close-mobile-menu-button {
  position: absolute;
  top: 24px;
  right: 15px;

  transform: translateX(-20%);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  line-height: 0;

  width: 24px;
  height: 24px;

  color: var(--heading-color);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);

  transition: color var(--transition), background-color var(--transition);
}

.close-mobile-menu-button:hover,
.close-mobile-menu-button:focus {
  color: #ffffff;
  background-color: var(--press-color);
}

.close-mobile-menu-icon {
  fill: currentColor;
}

.mobile-menu-content-container {
  display: flex;
  flex-direction: column;
  gap: 284px;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-link {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--heading-color);
}

.mobile-menu-nav-link.current {
  color: var(--press-color);
}

.mobile-menu-address-item:first-child {
  margin-bottom: 40px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-address-item:first-child {
    margin-bottom: 20px;
  }
}

.mobile-menu-address-item:last-child {
  margin-bottom: 48px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-address-item:last-child {
    margin-bottom: 28px;
  }
}

.mobile-menu-address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--brand-color);
}

.mobile-menu-email {
  display: inline-block;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;

  color: var(--text-color);
}

.mobile-menu-social-list {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-social-list {
    gap: 10px;
  }
}

.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #f4f4fd;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color var(--transition);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: var(--press-color);
}

.mobile-menu-social-icon {
  fill: currentColor;
}

/* .section-hero {
  height: 600px;
  max-width: 1440px;
  margin: auto;
  background-color: var(--heading-color);
  align-items: center;
  padding: 188px 0px 188px 0px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-page/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px auto;
}
 */
.section-hero {
  background-color: #2e2f42;
  text-align: center;
  width: 100%;
  max-width: 428px;
  max-height: 432px;
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-page/people-office.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-bg/hero-bg@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-bg/tablet-bg-img.jpg);
    background-position: center;
    /* background-repeat: no-repeat;
            background-size: cover; */
    max-width: 768px;
    max-height: 436px;
    padding-top: 112px;
    padding-bottom: 108px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi),
  (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-bg/tablet-bg-img@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-bg/bg-image.jpg);
    /* background-position: center;
        background-repeat: no-repeat; */
    background-size: cover;
    max-width: 1440px;
    max-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page/hero-bg/bg-image@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* qw */
.hero-info {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 500px;
  margin: 0 auto 48px;
}
.open-modal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.open-modal:hover,
.open-modal:focus {
  background-color: var(--press-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: transform var(--transition), opacity var(--transition),
    visibility var(--transition), backgrund-color var(--transition);
}
.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition), opacity var(--transition),
    visibility var(--transition), backgrund-color var(--transition);
  position: absolute;
  width: 100%;
  max-width: 408px;
  height: 100%;
  max-height: 584px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 397px) {
  .modal {
    padding-top: 52px;
    padding-bottom: 4px;
  }
}
.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #e7e9fc;
  color: black;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--heading-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color cubic-bezier(0.4, 0, 0.2, 1), fill var(--transition);
}
.close-button:hover {
  background-color: var(--press-color);
  color: #ffffff;
  fill: var(--primary-white-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
}

.hide-h {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-2 {
  padding: 113px 0px 120px 0px;
}

/* 1 */
.advantages-list .title {
  margin-bottom: 8px;
  font-size: 36px;
}

.advantages-list .text {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .values .container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .advantages-list .item:not(:last-child) {
    margin-bottom: 72px;
  }
  .advantages-list .title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1999px) {
  .advantages-list .thumb {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .values .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .advantages-list.list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .service-list.list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list .item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list .item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
  .advantages-list.list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-list .thumb {
    display: flex;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    color: #2e2f42;
    align-items: center;
    justify-content: center;
  }

  /* .advantages-list .item:not(:last-child) {
        margin-right: 24px;
    } */
  .advantages-list .title {
    font-size: 20px;
  }

  .advantages-list {
    gap: 24px;
  }
}

.thumb .advantage-icon {
  fill: currentColor;
  display: inline-block;
  width: 64px;
  height: 64px;
}
/* 2 */
.work-h {
  margin: 0 0 72px 0;
}
.section-3 {
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .section-3 {
    display: none;
  }
}
.images-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.section-staff {
  height: auto;
  background-color: #f4f4fd;
  align-items: center;
  padding: 120px 0px 120px 0px;
}
.work-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.staff-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
  margin: 0 0 72px 0;
}
.staff-list-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  margin-top: 8px;
}
.staff-item-icon {
  width: 40px;
  height: 40px;
}
.staff-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.staff-link-icon:hover,
.staff-link-icon:focus {
  background-color: var(--press-color);
}
.staff-icon {
  width: 16px;
  height: 16px;
}

.staff-boxes {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.staff-box {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}
.info-staff {
  padding: 32px 16px 32px 16px;
}
.staff-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  text-align: center;
}
.staff-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin: 8px auto 0 0;
}
@media screen and (max-width: 767px) {
  .section-staff.team {
    padding-top: 96px;
    padding-bottom: 128px;
  }
  .team .container {
    text-align: center;
  }
  .staff-boxes {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .staff-boxes .staff-box {
    margin-right: auto;
    margin-left: auto;
  }

  .staff-boxes .staff-box:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .section-staff.team {
    padding-bottom: 104px;
  }
  .staff-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .staff-boxes .staff-box {
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .staff-boxes {
    display: flex;
    gap: 24px;
  }
  .staff-boxes .staff-box {
    flex-basis: 264px;
  }
}
/* Footer */
.footer {
  background: var(--heading-color);

  padding: 100px 0px 100px 0px;
}
.footer-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin: 16px 0 0 0;
  max-width: 264px;
}

/* 123 */

/* 212 */
@media screen and (min-width: 768px) {
}

.section-btn {
  padding: 96px 0 0 0;
  margin-bottom: 120px;
}
.info-work {
  padding: 32px 0 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: hidden;
}
.work-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  margin-bottom: 8px;
}

.work-system {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.work-company {
  background: #ffffff;
  max-width: 360px;
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  background-color: var(--brand-color);
}
.work-company a:hover .overlay {
  transform: translateY(0);
}
.work-company a:focus .overlay {
  transform: translateY(0);
}
.overlay > p {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.work-company-box:hover,
.work-company-box:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work-company-box {
  display: block;
}
.work-company > a {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-btn:hover,
.work-btn:focus {
  color: #ffffff;
  background: var(--press-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.work-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-buttons {
  display: flex;
  margin: 0 auto 72px auto;
  align-items: center;
  justify-content: center;
  gap: 24px;

  padding: 0;
}
.container-buttons {
  align-items: center;
}
.works-row {
  margin: 0;
  padding: 0;
  /* flex-basis: calc((100% - 2 * 24px) / 3); */
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-works {
  padding-bottom: 120px;
}
.socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  margin: 16px 0 0 0;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--footer-icon-color);
}
.socials-icon {
  width: 24px;
  height: 24px;
}

/* 1 */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.customer-item .link {
  display: inline-block;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  color: var(--light-slate-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  display: block;
  fill: currentColor;
}

.customer-item .link:hover,
.customer-item .link:focus {
  border-color: var(--press-color);
  color: var(--press-color);
}
.customers-list .item {
  flex-basis: calc((100% - 16px) / 2);
}
.customer-icon {
  width: 110px;
  height: 56px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-item .link {
  width: 190px;
  height: 88px;
  padding: 16px 40px;
}

@media screen and (min-width: 768px) {
  .customers .container {
    width: 552px;
    padding: 0;
  }
  .customers-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .customers-list .item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .customer-icon {
    width: 104px;
    height: 56px;
  }

  .customer-item .link {
    width: 168px;
    height: 88px;
    padding: 16px 31px;
  }
}

@media screen and (min-width: 1200px) {
  .customers .container {
    width: 1128px;
  }
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.section-5 {
  padding: 130px 0px 120px 0px;
}
/* 2 */

@media screen and (min-width: 768px) {
  .customers .container {
    width: 552px;
    padding: 0;
  }
  .customers-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .customers-list .item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .customer-icon {
    width: 104px;
    height: 56px;
  }

  .customer-item .link {
    width: 168px;
    height: 88px;
    padding: 16px 31px;
  }
}

@media screen and (min-width: 1200px) {
  .customers .container {
    width: 1128px;
  }
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.container-footer {
  display: flex;
}
.footer-social {
  margin-left: 120px;
}
.subsribe {
  margin-left: 80px;
}

/* modal form */
.modal-form {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 16px;

  color: var(--heading-color);
}

.modal-form-field {
  margin-bottom: 8px;
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-form-input-descr {
  display: block;

  margin-bottom: 4px;

  color: #8e8f99;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--heading-color);
  transform: translate(0, -50%);
  transition: fill var(--transition);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--brand-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;

  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition);
}

.modal-form-message::placeholder {
  font-family: "Roboto";
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-check:checked + .modal-form-check-descr::before {
  background-image: url("../images/checbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--press-color);
  border-color: var(--press-color);
}

.modal-form-check:focus + .modal-form-check-descr::before {
  border-color: #4d5ae5;
}

.modal-form-check-descr {
  display: flex;
  align-items: center;

  margin-bottom: 24px;

  color: #757575;
}

.modal-form-check-descr::before {
  display: block;
  width: 16px;
  height: 16px;

  margin-right: 8px;

  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;

  content: "";
}

.form-check-descr-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.form-check-descr-link:focus {
  outline: 1px solid #4d5ae5;
}

.modal-form-submit {
  align-self: center;
  min-width: 169px;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 32px;
  padding-right: 32px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: #ffffff;
  background-color: #4d5ae5;

  transition: background-color var(--transition);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--press-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-form-descr {
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-label-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-form-input {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;
  min-width: 264px;
  height: 40px;
  padding-left: 16px;
  outline: none;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  transition: border-color var(--transition);
}

.footer-form-input:focus {
  outline: none;
  border-color: var(--brand-color);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2 !important;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:-webkit-autofill {
  box-shadow: inset 0 0 0 20px #2e2f42;
  -webkit-text-fill-color: #ffffff;
}

.footer-form-submit {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  transition: background-color var(--transition);
  cursor: pointer;
}

.footer-form-submit:focus,
.footer-form-submit:hover {
  background-color: var(--press-color);
}

.footer-form-input-icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .container-footer {
    flex-direction: column;
    gap: 72px;
    justify-content: center;
  }
  .footer-logo {
    width: 268px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .footer-social {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .footer-label-button-container {
    flex-direction: column;
    justify-content: center;
  }
  .footer-form {
    text-align: center;
  }
  .subsribe {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-form-input {
    width: 396px;
  }
}
